.chart {
    width: 450px;
    height: 260px;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 20px
}

.reponsive-img {
    padding: 5%;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2em !important;
    margin: 0 !important;
}